.imageGallery {
    background-color: #3f3f3f;
    position: relative;

    .prevButton, .nextButton {
        display: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 0 transparent;
        transition: box-shadow 0.3s;

        &:hover {
            background-color: #0c0c0c;
            box-shadow: 0 0 3px #0f0f0f;
        }
        &:active {
            background-color: #303030;
        }
    }

    .prevButton {
        left: 0;
    }

    .nextButton {
        right: 0;
    }

    &:hover {
        .prevButton, .nextButton {
            display: block;
        }
    }
}
